body {
  margin: 0;
}
.inputContainer {
  width: 290px;
  height: 50px;
  background-color: #fbf2e9;
  padding: 30px;
  margin: 0 auto;
}
.inputContainer .content {
  margin-top: auto;
}
.inputContainer .content label {
  display: flex;
  justify-content: center;
}
.inputContainer .content input {
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
}
.buttonContainer {
  margin: 10px auto;
  width: 0;
}
.buttonContainer button {
  width: 100px;
}
.modalWindow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  /*block*/
}
.modalWindow .content {
  background-color: #e3ffff;
  width: 320px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 200px auto;
  position: relative;
}
.modalWindow .content label {
  display: flex;
  font-weight: bold;
  justify-content: center;
}
.modalWindow .content button {
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
}
.footbalImg {
  width: 100%;
  height: 100%;
  position: fixed;
}
.ballPos {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 500px;
  top: 500px;
  transition: 1s;
}
.trafficLightContainer {
  width: 290px;
  height: 100px;
  background-color: #fbf2e9;
  margin: 10px auto;
  padding: 20px;
}
.trafficLightContainer .threeLightButton {
  display: grid;
  grid-template-columns: auto 60px;
}
.trafficLightContainer .threeLightButton .trafficLight {
  border: 1.5px solid #b3b0ac;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.trafficLightContainer .threeLightButton .trafficLight #red {
  background-color: #b3b0ac;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 25px auto;
}
.trafficLightContainer .threeLightButton .trafficLight #yellow {
  background-color: #ff9600;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 25px auto;
}
.trafficLightContainer .threeLightButton .trafficLight #green {
  background-color: #b3b0ac;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 25px auto;
}
.trafficLightContainer .threeLightButton button {
  border-radius: 10px;
  margin-left: 5px;
  font-weight: bold;
}
