body {
  margin: 0;
  background-color: #f8f8f8;
}
header {
  height: 60px;
  position: sticky;
  background-color: #333333;
  top: 0;
}
header span {
  color: white;
  font-size: 23px;
  position: relative;
  left: 28%;
  top: 15%;
}
main p {
  background-color: white;
  box-shadow: 0 0 10px grey;
  width: 40%;
  padding: 20px 20px;
  margin: 10px auto;
  height: 100vh;
}
main div {
  float: left;
  position: fixed;
  z-index: 1;
}
main div img {
  display: block;
  line-height: 20px;
  margin: 5px 11px;
}
