body
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #242943;
    color: white;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
    font: inherit;
    vertical-align: baseline;
}

div, li
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, ul
{
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

.wrap
{
    padding: 1% 0 0 0;
}

header
{
    letter-spacing: 0.25em;
    padding: 0 19.2px;
    text-transform: uppercase;
}

.logo
{
    text-decoration: none;
    float: left;
    border: 0;
    font-size: 0.8em;
    height: inherit;
    line-height: inherit;
    padding: 0 1.5em;
}

.logo:hover :first-child
{
    background-color: #9bf1ff;
}

.logo:hover :last-child
{
    color:#9bf1ff;
}

.logo strong
{
    font-size: 0.8em;
    background-color: white;
    color: #242943;
    font-size: 100%;
    padding: 0 0.125em 0 0.375em;
    display: inline-block;  
    letter-spacing: inherit;
    line-height: 1.65em;
}

.logo span
{
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

nav
{
    margin-right: 0; 
    display: flex;  
    float: right;
    justify-content: flex-end;
    flex-grow: 1;
    height: inherit;
    line-height: inherit;
    cursor: pointer;
}

nav span::after
{
    content: url(menu-button.png);
    top: -4px;
    position: absolute;
    top: 10px;
}

nav:hover :first-child
{
    color: #9bf1ff;
}

nav:hover :last-child
{
    color: #9bf1ff;
}

.major
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/banner.jpg);
    background-repeat: 0;
    background-size: cover;
    background-position: center -27.5px;
    margin: -25px 0;
    min-height: 30em;
    max-height: 50em;
    background-attachment: scroll;
    margin-bottom: -3.25em;
}

.inner
{
    background-color: rgba(36, 41, 67, 0.85);
    padding: 200px 50px;    
    margin: 0 auto;
    width: calc(100% - 6em);
}

.inner h1
{
    margin-bottom: 0;
    font-size: 3.25em;
}

.inner h1::after
{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 50%;
}

.content
{
    align-items: center;
    margin: 0 0 2em 0;
    display: flex;
}

.content p
{
    margin-top: -20px;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.actions
{
    margin-right: 0;
    display: flex;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
    margin: 0 0 2em 0;
}

.actions li
{
    padding: 0 0 0 1em;
    vertical-align: middle;
}

.but
{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
}

.but::after
{
    content: url(right-arrow.svg);
    display: block;
    position: absolute;
    top: 2px;
    right: 3px;
}

.clear 
{
    clear: both;
}

.BlockMain .wrap 
{
    padding: 150px 80px;
    transition: 0.5s;
    cursor: pointer;
}

.BlockMain h3 
{
    font-size: 22pt;
    padding-bottom: 20px;
    margin: 0;
}

.BlockMain p 
{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-top: 2px solid white;
    display: inline-block;
    padding-right: 18px;
    padding-top: 20px;
    margin: 0;
}

.BlockMain article 
{
    float: left;
}

.Aliquam 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic01.jpg);
    background-size: cover;
    width: 40%
}

.Aliquam .wrap 
{
    background-color: rgba(111, 195, 223, 0.8);
}

.Aliquam .wrap:hover 
{
    background-color: rgba(111, 195, 223, 0);
}

.Tempus 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic02.jpg);
    background-size: cover;
    width: 60%
}

.Tempus .wrap 
{
    background-color: rgba(141, 130, 196, 0.8);
}

.Tempus .wrap:hover 
{
    background-color: rgba(141, 130, 196, 0);
}

.Magna 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic03.jpg);
    background-size: cover;
    width: 60%
}

.Magna .wrap 
{
    background-color: rgba(236, 141, 129, 0.8);
}

.Magna .wrap:hover 
{
    background-color: rgba(236, 141, 129, 0);
}

.Ipsum 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic04.jpg);
    background-size: cover;
    width: 40%
}

.Ipsum .wrap 
{
    background-color: rgba(231, 183, 136, 0.8);
}

.Ipsum .wrap:hover 
{
    background-color: rgba(231, 183, 136, 0);
}

.Consequat 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic05.jpg);
    background-size: cover;
    width: 40%
}

.Consequat .wrap 
{
    background-color: rgba(142, 169, 232, 0.8);
}

.Consequat .wrap:hover 
{
    background-color: rgba(142, 169, 232, 0);
}

.Etiam 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic06.jpg);
    background-size: cover;
    width: 60%
}

.Etiam .wrap 
{
    background-color: rgba(135, 197, 164, 0.8);
}

.Etiam .wrap:hover 
{
    background-color: rgba(135, 197, 164, 0);
}

.Massa
{
    width: max-content;
    margin-bottom: 2em;
}