body
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #242943;
    color: white;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
    font: inherit;
    vertical-align: baseline;
}

p
{
    margin: 0 0 2em 0;
}

div, li, p
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, ul
{
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

h2
{
    font-size: 1.75em;
}

.wrap
{
    padding: 1% 0 0 0;
}

header
{
    letter-spacing: 0.25em;
    padding: 0 19.2px;
    text-transform: uppercase;
}

.logo
{
    text-decoration: none;
    float: left;
    border: 0;
    font-size: 0.8em;
    height: inherit;
    line-height: inherit;
    padding: 0 1.5em;
}

.logo:hover :first-child
{
    background-color: #9bf1ff;
}

.logo:hover :last-child
{
    color:#9bf1ff;
}

.logo strong
{
    font-size: 0.8em;
    background-color: white;
    color: #242943;
    font-size: 100%;
    padding: 0 0.125em 0 0.375em;
    display: inline-block;  
    letter-spacing: inherit;
    line-height: 1.65em;
}

.logo span
{
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

nav
{
    margin-right: 0; 
    display: flex;  
    float: right;
    justify-content: flex-end;
    flex-grow: 1;
    height: inherit;
    line-height: inherit;
    cursor: pointer;
}

nav span::after
{
    content: url(menu-button.png);
    top: -4px;
    position: absolute;
    top: 10px;
}

nav:hover :first-child
{
    color: #9bf1ff;
}

nav:hover :last-child
{
    color: #9bf1ff;
}

.major
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/banner.jpg);
    background-repeat: 0;
    background-size: cover;
    background-position: center -27.5px;
    margin: -25px 0;
    min-height: 30em;
    max-height: 50em;
    background-attachment: scroll;
    margin-bottom: -3.25em;
}

.inner
{
    background-color: rgba(36, 41, 67, 0.85);
    padding: 200px 50px;    
    margin: 0 auto;
    width: calc(100% - 6em);
}

.inner h1
{
    margin-bottom: 0;
    font-size: 3.25em;
}

.inner h1::after
{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 50%;
}

.content
{
    align-items: center;
    margin: 0 0 2em 0;
    display: flex;
}

.content p
{
    margin-top: -20px;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.actions
{
    margin-right: 0;
    display: flex;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
    margin: 0 0 2em 0;

}

.actions:hover :last-child
{
    color: #9bf1ff;
}

.actions li
{
    padding: 0 0 0 1em;
    vertical-align: middle;
}

.but
{
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 2.75em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
}

.but::after
{
    content: url(right-arrow.svg);
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}

.but:hover::after 
{
    color: #9bf1ff;
}

.clear 
{
    clear: both;
}

.BlockMain .wrap 
{
    padding: 230px 20px;
    transition: 0.5s;
    cursor: pointer;
}

.BlockMain h3 
{
    font-size: 22pt;
    padding-bottom: 20px;
    margin: 0;
}

.BlockMain p 
{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-top: 2px solid white;
    display: inline-block;
    padding-right: 18px;
    padding-top: 20px;
    margin: 0;
}

.BlockMain article 
{
    float: left;
}

.Aliquam 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic01.jpg);
    background-size: cover;
    width: 40%
}

.Aliquam .wrap 
{
    background-color: rgba(111, 195, 223, 0.8);
}

.wrapText
{
    margin-left: 80px;
}

.Aliquam .wrap:hover 
{
    background-color: rgba(111, 195, 223, 0);
}

.Tempus 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic02.jpg);
    background-size: cover;
    width: 60%
}

.Tempus .wrap 
{
    background-color: rgba(141, 130, 196, 0.8);
}

.Tempus .wrap:hover 
{
    background-color: rgba(141, 130, 196, 0);
}

.Magna 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic03.jpg);
    background-size: cover;
    width: 60%
}

.Magna .wrap 
{
    background-color: rgba(236, 141, 129, 0.8);
}

.Magna .wrap:hover 
{
    background-color: rgba(236, 141, 129, 0);
}

.Ipsum 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic04.jpg);
    background-size: cover;
    width: 40%
}

.Ipsum .wrap 
{
    background-color: rgba(231, 183, 136, 0.8);
}

.Ipsum .wrap:hover 
{
    background-color: rgba(231, 183, 136, 0);
}

.Consequat 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic05.jpg);
    background-size: cover;
    width: 40%
}

.Consequat .wrap 
{
    background-color: rgba(142, 169, 232, 0.8);
}

.Consequat .wrap:hover 
{
    background-color: rgba(142, 169, 232, 0);
}

.Etiam 
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/pic06.jpg);
    background-size: cover;
    width: 60%
}

.Etiam .wrap 
{
    background-color: rgba(135, 197, 164, 0.8);
}

.Etiam .wrap:hover 
{
    background-color: rgba(135, 197, 164, 0);
}

.innerM
{
    padding: 4em 0 2em 4em;
    margin: 0 auto;
    font-size: 20px;
    background-color: #2a2f4a;
}

.Massa
{
    width: max-content;
    margin-bottom: 2em;
    text-transform: none;
    padding: 0;
}

.Massa::after
{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

.lastBut
{
    margin: 30px 0 0 -20px;
}

.contact 
{
    background-color: #242943;
    border-bottom: 2px solid #2a2f4a;
    margin: 0 0 2em 0;
}

.form 
{
    padding: 80px 50px 80px 150px;
    width: 55%;
    box-sizing: border-box;
    float: left;
}

.formgroup 
{
    margin: 30px 0px;
}

.formgroup label 
{
    display: block;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.formgroup input, .formgroup textarea 
{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 13pt;
    box-sizing: border-box;
    background-color: #2a2f4a;
    color: white;
    border: none;
}

.formgroup1 
{
    width: 48%;
    margin-right: 2%;
    float: left;
}

.formgroup2 
{
    width: 48%;
    margin-right: 2%;
    float: left;
}

.formgroup_btn .btn 
{
    margin-right: 20px;
}

.btninvers 
{
    background-color: white;
    color: #242943
}

.btninvers:hover 
{
    background-color: #9bf1ff;
    color: #242943;
}

.contacts 
{
    width: 45%;
    box-sizing: border-box;
    float: left;
}

.contacts h3 
{
    margin: 0;
    font-size: 22pt;
}

.contacts a, .contacts p 
{
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
}

.contacts > div 
{
    padding: 50px 150px 50px 50px;
    border-left: 2px solid #2a2f4a;
    border-bottom: 2px solid #2a2f4a;
}

.contacts .Adress 
{
    border-bottom: none;
}

.contacts a 
{
    border-bottom: 1px dotted white;
}

.contacts a:hover 
{
    color: #9bf1ff;
    border-bottom: 1px dotted transparent;
}

.footer 
{
    background-color: #242943;
}

.inner 
{
    background-color: #242943;
    padding-top: 64px;
    padding-bottom: 32px;
    margin: 0px 48px;
}

.icons 
{
    list-style-type: none;
    margin-bottom: 64px;
    padding-left: 0;
}

.fa 
{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 16px;
    background-color: white;
    color: #242943;
    border-radius: 100%;
    text-decoration-line: none;
    float: left;
}

.copyright 
{
    color: gray;
    font-size: 12.8px;
}

.copyright p 
{
    display: inline-block;
}

.copyright .design 
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0px 10px;
}

.copyright a 
{
    text-decoration-line: none;
    color: gray;
    transition: 0.5s;
    border-bottom: 1px dotted rgba(244, 244, 255, 0.2);
}

.copyright a:hover 
{
    border-bottom: 1px dotted rgba(244, 244, 255, 0);
    color: #9bf1ff;
}