body
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #242943;
    color: white;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
    font: inherit;
    vertical-align: baseline;
}

div, li
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, ul
{
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

.wrap
{
    padding: 1% 0 0 0;
}

header
{
    letter-spacing: 0.25em;
    padding: 0 19.2px;
    text-transform: uppercase;
}

.logo
{
    text-decoration: none;
    float: left;
    border: 0;
    font-size: 0.8em;
    height: inherit;
    line-height: inherit;
    padding: 0 1.5em;
}

.logo:hover :first-child
{
    background-color: #9bf1ff;
}

.logo:hover :last-child
{
    color:#9bf1ff;
}

.logo strong
{
    font-size: 0.8em;
    background-color: white;
    color: #242943;
    font-size: 100%;
    padding: 0 0.125em 0 0.375em;
    display: inline-block;  
    letter-spacing: inherit;
    line-height: 1.65em;
}

.logo span
{
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

nav
{
    margin-right: 0; 
    display: flex;  
    float: right;
    justify-content: flex-end;
    flex-grow: 1;
    height: inherit;
    line-height: inherit;
    cursor: pointer;
}

nav span::after
{
    background-image: url(menu-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 32px;
    content: '';
    height: 100%;
    right: 2em;
    top: 0;
    vertical-align: middle;
    position: absolute;
    width: 24px;
}

nav:hover :first-child
{
    color: #9bf1ff;
}

nav:hover :last-child
{
    color: #9bf1ff;
}

.major
{
    background-image: url(https://html5up.net/uploads/demos/forty/images/banner.jpg);
    background-repeat: 0;
    background-size: cover;
    background-position: center -27.5px;
    margin: -25px 0;
    height: 75vh;
    min-height: 30em;
    max-height: 50em;
    background-attachment: scroll;
    margin-bottom: -3.25em;
}

.inner
{
    background-color: rgba(36, 41, 67, 0.85);
    padding: 200px 50px;    
    margin: 0 auto;
    width: calc(100% - 6em);
}

.inner h1
{
    margin-bottom: 0;
    font-size: 3.25em;
}

.inner h1::after
{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

.content
{
    align-items: center;
    margin: 0 0 2em 0;
    display: flex;
}

.content p
{
    margin-top: -20px;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.actions
{
    margin-right: 0;
    display: flex;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
    margin: 0 0 2em 0;
}

.actions li
{
    padding: 0 0 0 1em;
    vertical-align: middle;
}

.but
{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.but::after
{
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 1.5em;
    top: 0;
    width: 36px;
    background-image: url(right-arrow.png);
    color: white;
}