body {
  margin: 0;
}
.colorEditorCl {
  margin: 0 auto;
  width: 400px;
  padding: 10px 300px;
  background-color: antiquewhite;
}
.colorEditorCl .editCont div {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 10px 0;
}
.colorEditorCl .editCont div label {
  font-weight: bold;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: auto 0;
}
.colorEditorCl .editCont div input {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  height: 21px;
}
.colorEditorCl .editCont div select {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  height: 21px;
}
.colorEditorCl .editCont div span {
  color: darkred;
  font-weight: bold;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: small;
}
.colorEditorCl .editCont button {
  width: 100%;
  margin-top: 10px;
}
.colorEditorCl .editCont .testColCl {
  display: block;
  margin: 10px 0;
  height: 10px;
}
.colorContainer {
  color: yellowgreen;
  color: rgba(154, 205, 50, 0.5);
  color: darkcyan;
  color: rgba(0, 139, 139, 0.5);
  color: orangered;
  color: #FF4500;
  color: rgba(255, 45, 0, 0.5);
}
