body {
  margin: 0;
}
.colorEditorCl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  width: 910px;
  padding: 0 20px;
  background-color: antiquewhite;
}
.colorEditorCl .editCont {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding: 0 10px;
}
.colorEditorCl .editCont div {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 10px 0;
}
.colorEditorCl .editCont div label {
  font-weight: bold;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 7px 0;
}
.colorEditorCl .editCont div input {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  height: 21px;
}
.colorEditorCl .editCont div select {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  height: 21px;
}
.colorEditorCl .editCont div span {
  color: darkred;
  font-weight: bold;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: small;
}
.colorEditorCl .editCont button {
  width: 100%;
  margin-top: 10px;
}
.colorEditorCl .editCont .testColCl {
  display: block;
  margin: 10px 0;
  height: 20px;
}
.colorEditorCl .colorWrap {
  grid-column: 1 / span 3;
  grid-row: 2;
  display: flex;
  flex-flow: wrap;
}
.colorEditorCl .colorWrap .btnClass {
  cursor: pointer;
  background-color: gray;
  text-align: center;
  margin: 10px auto;
}
.colorEditorCl .colorWrap .colorContainer {
  margin: 10px;
  padding: 30px;
  width: 223px;
}
.colorEditorCl .colorWrap .colorContainer .colorVal {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 15px 20px;
  height: 50px;
}
.colorEditorCl .colorWrap .colorContainer .colorVal label {
  text-transform: uppercase;
  margin: 0 auto;
}
.colorEditorCl .colorWrap .colorContainer .colorVal p {
  font-size: 12px;
  margin: 0 auto;
}
.colorEditorCl .colorWrap .colorContainer .colorVal strong {
  font-weight: bold;
  margin: 0 auto;
}
