body
{    
    margin: 0;
    overflow: hidden;
}

h1 
{
    background: bisque;     
}    

.wrap
{
    min-width: 600px;
    max-width: 1200px;
    width: 1000px;
    margin: 0 auto;
}

.header3
{
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: normal; /*bold bolder normal 100-900*/
    font-style: italic; /*normal*/
    text-decoration: underline; /*overline line-through none*/
    text-align: center; /*left right justify*/
}

/* .div1
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlA31W25U48VZevnp_scg61PVUzCJeuzfu6HwM6k-TcbmdwkGAjA); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center; 
    height: 100px;
    width: 150px;
    display: inline-block;
    text-align: center;
    border: 1px dashed gray;
    color: yellow;
}

.divNew
{
    border: 1px solid darkcyan;
    height: 50vh;
    padding: 50px;
    box-sizing: border-box;
    overflow: auto
    ;
}

.asideL
{
    width: 200px;
    border: 1px solid darkgoldenrod;
    box-sizing: border-box;
    float: left;
}

.asideR
{
    border: 1px solid crimson;
    width: 200px;
    float: right;
}

.quote
{
    background-color: lightpink;
    padding: 15px;
    position: relative;
}

.quote::before
{
    content: '"';
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
    font-size: 40px;
}

.quote::after
{
    content: '"';
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 40px;
}

.footer
{
    border: 1px solid darkgreen;
}

#id1
{
    text-align: right;
}

.pic1
{
    width: 100px;
}

.p1
{
    text-shadow: 5px -5px 5px green;
    font-size: 18px;
    line-height: 16px;
}

.p2
{
    box-shadow: 5px -5px 5px darkviolet;
    border: 1px solid darkviolet;
    border-right: 1px solid crimson;
    border-radius: 10px;
}

.ul1
{
    list-style-type: georgian;
    list-style-image: url(https://secure.gravatar.com/avatar/614c659a054fb007dcee7e86b3a24f9d?d=identicon&r=PG&s=24);
}

.ol1
{
    list-style-type: none;
}

.ojegov
{
    font-family: 'PT Sans', Verdana, sans-serif;
    color: #293848;
    border: 1px solid #31a354;
    padding: 20px;
}

.ojegov dt
{
    color: #31a354;
    display: inline-block;
    margin: 20px;
}

.ojegov dd
{
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
}

.ul2 li ul li
{
    color: coral;
}

.ul2 > li
{
    border-left: chartreuse;
}

.link
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.link:hover
{
    text-decoration: underline;
}

.link:active
{
    color: red;
}

.imgBg
{
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTExMVFRUXGR0aGBgXGBgYGBoXGhcaGB0YHRgaHSggGx4lGxcYITEhJSkrLi4uGB8zODMtNygtLisBCgoKDg0OFxAQGi0aHR0rKysrKystLisrLSstKystKysrLS0tKzcrLS0tLSstKystLS0tKzcyKy0rNysrLS0uLv/AABEIAKcBLQMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAEBQIDBgABB//EAEAQAAECAwYCCAQEBAUFAQAAAAECEQADIQQFEjFBUWFxBhMigZGhscEyQtHwI1Jy4RRigvEVFiRTsjNDkqLCc//EABkBAAMBAQEAAAAAAAAAAAAAAAABAgMEBf/EACkRAAICAgICAgEDBQEAAAAAAAABAhEDEiFBEzEEUTIUImEVI1JTcQX/2gAMAwEAAhEDEQA/ANhIlhL047QNbLYUqwggANjemdaHZyPCD7KpKzhSoEhlHlX3aFfSKzjFiHZSSy3Z6n6kVO8MdlNpshRMldUSAonDUEDGlTgNtSLL1AlISh+sLFIdnrllVnhItRQr4sSUuEkcTXxicpM20JSECqDkCcs38zCFY/6OFCCyEqAWCSVAsSk/LTLtGDb0vfq5iEYaKIxEg0csMopuS1YJKgpzgcimmbeLwpvG+kr+FBAI+J+0CDTdoYi2+bvCElTMoqPaDkeWUX9HbSlM1UtmKw5qSl0g/C75gvnAyLSoyCor7JGAJG7Z14Z8YV2a0zFKGFiJYJrUgZPXPZ4YDi233MxuFMlJZhUKGoIzDM7wyXfDy0qSkhSshiAhHZLyloIcMpSq4Q4wvxzrB/8AHIxOhYUXKgkFwC3rSAYfYryUpRSQwT8SnyjP37eK1qIKXluUZDP6vrFtqmzVI+NACgSWIZ317T/2gG1Wx0hLux7LqzoBrXSACk3gqUSEOHFSakjZ4JuWYVK7WJiHGHhmT6QPaJzslag4AY0KRwipVuCASlXVgMAAfirsfQUgFZtrptXWIfBgALAcoNhPY72kpk40qxBIqADntlR4EVe/WYVpOHEHAIBbgTAMZ2u3spKRRy1Rny+sKpAAvFVWAlDuFYWJtijPExXaSl8/aKzKM21rwHNIrsGgHZsLNbkrdtCz6HlAt5WJKg4DF9GHfA1vkoSAMeFdGLsHahP1ePZVtSuWpK1ErG1SSNt4icbixxfIKgKlTUpLMdqudOUOpJeuUYa03yhU0KmFSZiHCQ5fhwA7odJv0dhsmGJ6Z8G03jnw5N3VVRpkVI0cILwvNOMoUgkDbcavpBgvVJWyWKQKn2AhNPnKEyYrIKGo8qR1UYiqfd02TOM2yLCMXaMonsEa8Hzgu8bzTMlqBxBYAGFVSknMvtxiqyF5yQAAK8qg6x7f1nThfAAsM5xVfXLMEaQBYx6IDszDxA8outa5mMJcBJdyTmK0rA/RBFJhetBnTLbfjFXSFZSuinyoS4BgQMAvQLKiCCrCAKZDh4xZYrWEIUkKLrYuH+LLN9BE581ZQMBZwSpqB/swDYUpch+1mPyuPzcIZNmiu5ClSjiBKgVBST8z7esRMgolsATjqogim3MZZwNJ6QYUAFKRoGf6R1hvNSytRAVk6QGLZPxEIaYsVblPVWLCQQTuNWGesXovOZNIJIpUMGeuXlA87CpbfADqRT7rHXckdZhywn4uJy8YQB11JWJqSAoBRcpB7sXIExqYylnvEycePtLCmrnh2Bz0jQ2q0lMorAcs4B3MMAl48xbxmLuv+Y/4ocEsGGu0aRfKCgMfZGThwpILDFiIYk7M9MvGNHKkzVrSwlpGDElSQopcsKkqzcbRmZ57VHZtcjxaNBc0lczDgVgSJbLKTR3JTnk76avAJMCvG7lSsIKisP2yCWfcbPXkGi82nq1IWkBqhNa/Dhc+MEWwK6vAVBSzQkNkcxzpnFirAnCBMQAkthUKlkj4VUo4rCKBbfPLHAplK00wsx7nJ8YV2crJKcyvMab90NbdMElIlkOHxA50OgGzGFcibmQhgzku1AWiiGNbKsCUsVo1RliJcc8o9uieFYgUt2MLgVAxOfWFSp9MDkJJduLEe8XXbb1yQSA6Xc99PvlAF8jO47vTMUtSi7EhQ2fJhA02wrE1IloCCDVQ7IOZcgZ5ZwTL6S4HaWC47ShTtO9aQAqdOmLGIKqrMHQ11oeUBfA2vC8wEhBSxNFKzHMfTSElrsycYCXKSlwde+IzAUqdSVFJOR+ZjoYtmy1FIKH6t2o2IU21BgACNoKiQ3aNDQmm2UF3RJSqZhqnD/KVOxiMu5yohqu+uXNjnDSxy+qcfw3WYMyMJprVRc90BKTGF7zUdSpaCpwCknCqoyINMoz1gtqBLwJSRTtHiNRDSZeYWhUpMtKUGWtQANQRyyhBKlEhLCrUgKDZMgdWpRJYDKgD6QJdsxSZkxSaEJbxgWRMW/VzE/NRQDJPDgYmZZC5gAbKm/KEIcTFFEpZWrFlm++YhZY7UQSqWHOhPZHiYgq0JSCmYpVTkACxGz1ipC5RwsucNgGY8xEOTLRTbbWozQpXVgkGpH7QIZswlkzZbcAo+0Op/ReYpNUKWV/lUHA4hmA4Qp/yrbUlbIUB8oCmdO3PujlUZRbSfs1dSQntl+zpK2SpCmq4B/aHFhv2fMSVrVIDioIIpyfziM/obNX2pqsKtin6QIejFoxy0oJITsKEAxo5SpckRik3wMruvRfWYkJSQ7Fi4MM79tWKWmhSSQ4IZ+RFPOPLPd81JJXLUAVDCcLADWI9KJRdGIEHOuuWRjWLtXZNfZGwWlSJaiFEdrTu/aPJ9oxlyX38YqsSVKokPnTug6yWN1EFO4OYdhFr0SwPriKireRgZDA1YF3fYaxYv8NTEChpqGeIqmYnIAD99eA0hkWXGyFSQr5WenqRHWc4Fh6VBGg4k7wWJhSCXY+AYBiCO+KZOKcoBwACA5FcvDLSGNHWu0soKToAQD414R51mEOopclwwrzJ4RfbUgzhiZkkAgNlSBLctJWsuB+XkMj5QgCLGTNWpWZLOSzMd++J3zbCAAlWVCkVFP75QNZ7UhCR8Sj8woBmCOTUiF5rx4VfMa99PfWAbZOyysSkh2JDhh82x258oYi/pholCVEAP2te/PKE86ayiVdo6jvz8oZWaTLRLTjSCSHpoPGGIEmygmYpKyzEgN5Rfds9MpRCVLqKAnMioBL7iA7TLOEHC1WbYj7ENbiukz1VHZAoTuAGHifDlA0Z27oJstrSoE4SCB2gzk5uRrqIZ38soEpRqkEdnkBlzjrQgImpKCnEpDaBINMt3IiEuymdKea+JTgvWqUnCod5FIRt0JLyvVU0AKSEsdGpwdq5QHKUtZGZHtygu9ZRCJaBUAAMRkpg/rE5E9KEYiy05JS7Ec6PXnDJKL0l4V0NCHDxRZp5S4FUnOgOYI11qaxZakqUrJxmBsD+wigoCACDno4LV484CQm70YnCiUyxnQkDwOzxfNticCpaS6QrsUIGY3MAptgQS5JBDZaGPJwSWwqcHiKQhphaJ+PCFF1A65H6waqaEIIBALjEz0ADaCE9nZyToKc4drkpTIQliFqU55tp4wykwQDCCsFyoOlioMQdaeUaWz3phk454wuHCvlPB9O+MpOmCSUpmEPU0BPiIbIvWbPlFCLLjQzElkpMBQsts9JWVS2SCgvx3gY2gJCAVYXpnFFksBLoQ4UHdKSMCeBUfQQZZrtly6zZqeSKkf1H2hWImuaDKUgF8mbU61im7rsmrKlAuRkKueETmXxKkDFKkqUAQCo1UX/m0jV3FblzEuZWGCx0KLu6JdYAqfiQXPZBGu5jQy7gswAHUpLbufUxO33mJIdSSdgMyeEKFdMUChlq8U/WJGaRKAAwAA2EQWIzC+mqP9tXin6xD/Osv/bV4p+sAqZolyQYiJLaQrs3SDrPgkTTyA+sdab/AAj45U5P9B9oYUNoAt10yp3xguNQWP0gIdKpGomj+hUTT0mkHVf/AIK+kAUDybjMlRKe2nTdPdrAqpkwqWCGJGtDUs4hp/mOz6qI/pV9IJFqlzQ4ZQ34c4YGDvVZKi7Uo414x1nnMcWEMkemTtDDpNZpSVJUHD0bSALHKxYkitOyBvSp3o8Bk/ZdjE4FSlYQKgaE0yAq+UVyGxKSlyGJ4u2Y5AxBNnZRcnsHxLswi6zylIWVK7IIo+o1DaGGMFW6Sx396xSCVrwh3PnE7QrLxpo5NItsyeqIWoEkFx9/ecAMIva0IJwIAoAFFtRtAAOdco5C010cxCYoZeMBLYRLJQArA6sRd60YUbvgyfJSFHrJjE9pho4BbuiqbaAkOKliC+VTT0gftTCVKck5sICkETmYcNM34AQbLvtSZaZeHCkOSH7SjXMjnlwgJFmoFDPLvAq3lE0SXWEqDHXerEZ6naAhDK7LPMmKAcllpBf5d25OMoZXgidJWSxUEvh/K1aHc1hjd9jElUsgYQoUGxIGb5mlYYXsoCUonSrff3WBG1GLvqYSoUUCzl8i9Q3i3hFVgkBSSnMuOyGNG8oGt9pKlO9MnO9AfaPJZwKdKq0YjcwENl6CsTGSDQlPfoDvA3UHGUsX9Psxcu1LyPZckuKEk8dKawyu2xKmEqSChNGJL1rVznnAFWAJk4U1qKcK0eujPAU0k4SwHLPvjTSrDKDmYsFOgyy1ipd7WcKolLJokADPU8TCHqLbtu2ZNAVhYbqoIOsijOWZQUBJk0Kh8RXqlJPrA9ov+YpJwJAHEtGdsNuUmWopUycRJYZkneBcg5JH0GWizyw2FJ3Ku0SeJMLL76QSxLMuUoYiGDaPnGaUp8D4i/5laZZawAvF1pAoj12940UG1ZEs6Q8uO7TOxdtSEpZ8OZ74c3RdkkyhMwgu7E7AneBuiR7E370MddE89QgPk/qY55Pk3x8xTBJcwLstoUKDrGANcjGw6JTiuQFKzdQ7gWEYexKawzeMw/8AKNl0IP8Apk/qV/ygixyLekUlTpUlmAOLcdks3fHzYWdJ3yfOPqt9n8JXI+hj5hL05CKJfoo/h0xVNkilM4LBgK0KKlgDJOZ47QGZqehdoOFKXLBZFa0wu3APE+mdoUyk4iBiAYUphycaPWLOgg7K/wBX/wAiPOnBDJD5KD/+MBp0ZEyBurxjzqantK8YIApEHFS+sBmUKChULUCK57RuujSSVLOEpSwPAkgEtGCSSQpRyOXKPp1y/wDTTyT/AMRDKiJ+moHVoLfN7Rl5E4pLg6EdxjU9Nj+Gn9XtGQl1+sCIl7HV23mEI7SApTu533eOvGeZiyAwAyO9H8YBSijghhpw+wYpQt3rxblrFDTJGUqlM8uTs/jF9qnDClPaCh2S2QgiVacIJUr4QAA2YYwDOWFnE+FqvrnvADLJ1kThJBr9/fdAcxJBLVb2j2bMxVZszErGXWkPq/hWAh+wmYl0pYBqg8ch7kxddoVhPbw1ii1z0gAJq7vwJZ4jIx/J3wFoNlqOENUAlvfvYCLZc/8AExqJKnBB2UICRN7LOxz+/GPUTqMBU/bwGdmvk3qlQlFdWL+JI9vOHF8zwhBJSVDItpSMIhDy1HYpD7Akv6eUODaiqSELPaNAQXJAyJ40gi00auRnbSWUE7PzqYITaRhwFIZ3DB1E7P3wLMT20OXz9j7wQpkIxJL9vvGI5wuyWwqaZUvtTa4A4RzbPwjy0XvMmYUA4ElJYJpQekIJkhUwFMxTFamIFSqlAT3QaLWcaEgBiSnKrJCfqYAtkpstZwZqdnJOVMmgSwSFjrMag5USDsIjbZqvhCj8R10AgqbLBUkH4X8aGKpE7M9sy0ISU4wo1NOLmEstRTZlCpdXvFthlvMPL2j21H/Tj9fuIV9EsrkzXMlqYSr3MHlDmpo7Qtsyay+Z9DDC0rZClbGN1KscmYa3NWabo9KShExlhY1b9JiFzyF9ShQyZ/WBOgM8zpE4lLF2Hekw9u5CkWUAhilBB51jz2/3HqRX7eDO2VL2FZ3V/wDcbjotZeqkhHEnxLxibJMAu7MOVCmvxCNrd96SEhjNQO+Ki1Y3ByVJBV72DrQkuQUu1aFwxeMovopNejNpXSNRab1kKDJnoG5B0imRaZaUgG0BTfMSA8abJ+mS8Ul7RirzueZJGIgHEyUh/mJj2R0Un4dA9TGymzZKmecktXMFjHsyYCRhnpYZh0lxtwhWg8T+hXc1zKk4RRnKi5q7NTuiF9XLMnFR7LEuNDQNXuhpMvEBTAvxCktEUXi5ALjvS0OxUzLno7M/I/JQ94UKuxSpnVJlqOGqmIPdH0SXidWKYkuezlQbRVIsSUElBSl6lmqYLQtH9GMTccw9nq1gGndGsueyrQFYicJbCk/KwbOC56JmE4FJxaOKRZIdqs/CGKjOdOD+Gj9XtGZsQ7h6VBjR9Oz2Jf6j6RmbG5Bf8p9j7Q0uDOX5Fk2ak0OYKjTIuRFSpodwGgdoslpo+r+xhkhk5u8kOfYwJaTxHLaLpqAwY6PA2F2fUQDbCLVO7KU4R2RnStPpFUuYABSta8CMojOdzrp5R7LDdxavKAl+yyXKcjjF4nLlUSWrpyFfWISZrVYF6Hzi20pJLg/dIGWjyRZlLBKatnxiozCnLXKG0tWFwmgALd+sI1TlTFFwPTvjkWZytVwZNBNktSlOODkcoPsMvrFVUUpGvGrRnpS1JU4NY0/XhkkZU9P3iN3DhdgmLZyCJyEqyJPp708IISjCVahIJ5sIjaJ2OfK/q9BBc7CpKgMykgd4MbLLXssUJmfiSAKBgs8+17GKLIr8bgCfM/tDBNjYoW/wpbhQGLTZkIxKapjS/ZVCq1pZZH8x9YMvD5eH0hguQglyh/GK5soLJfQ+wgftCE1iDLVy9oqtQazp/X7w+6lIBLB24wltA/0po7EH/wBhB2TIHs//AG+Z9DBtpH4aucVymH8OwzCn84ItgaV/VGzf9tr/AIZL80D3NMmygtCVKAKnDcoPM2cQxMxv6oddCVBSFlh8XtGhUARHmzhbuz3Pj/I1xpao+dT7EtMtRwlqMSNSRSCk9HLSsumUfERoelav9OP/ANEf8hGpunI84awKS5ZrD50sMnKCR88/y3akAkyjkdRzgKyrM0rQgqUssMLekfWLZNS2EnOniIQ2Do3IkzErTMWSkuxZo1hgjG67Mc3z8maUZSXoxZ6OWr/YV5fWIq6P2kf9lfl9Y+pT7fLTUqAjyXbkEOlQI3iP0kfs63/7WX/FHzeSlASHSlxmlg78Y8tgSUuwdWQGhjYWy7bLVSUJxO576mkeWO47OQFqlgF31zGRjo14o8ryvbYwH8FP/wBub4Kjw2W0D5ZvgqPrS5qQHJAiqXaZavhWk8i8c/6b+T1P6w/9aPlZt0xBSkrKTVwSQTE7QbQGYzctMW8aa++iZnzlTRMQHqAQ5yjSWcMGLFm9I0eK0lZy4vm+PI56p2fPrukTJwImYixpiJBDjOsMrNdqUkpZtDWrHXiIP6UqCTLbV8qbRmf4gmaSSWAZo6MUKjRxfKzxyZNqoczOjiDksjwgZdwkUdw+YpoRAC7w1Djg/P6RL/E/1+Ma6fyYbRJzbtUAxzA94AcFYRUEbjasXT7STMFS3PT+8Byp6TNJYsNddPrEuNC2iHokKxKADsz+EDqRoQyidY9lW0jrCCXA8WePP4hSlAkvX2huNKwbjdF1iQxz0iwJw56nypELPLIBfbx+6RcJhAd9fRvrCfoaK7apTUFYAVKWAVEfXlDSYilCxNHgSRNILGrkOOH2POPLxz4ohoERZStQOjD94cAEARRZVKZiGD/WCkO+W8LJPlNCSAZpaZLbZXpBUgav3QHbAy0fpV7Vi4KZPAF3jZPhMoOnLHVuc4ha5owHLLeFarykqQQJgqCz/e8cbylEFJmJ2PeI2UmWPEqfWKJKnKss/YQulTyQlmZhkeESk2opJGufj/aLsA6bkcsjqRC+xLxWdSWOopFy7USCHzplvCy5bUWWkZpUQabQJiaCxZGMj+QKBpvFdumdlv5j5GCjaSNj5QBacqsA5PjDcnVEaod9Fr2lyUKCncqegfSHR6RSWzV/4x89l3nLlA46vUYWyEEC/ZRHwrpwfOOeSs6ceRpGnvq+JMyWEur40kU1BdoZS+mdnlfFjD/yxgp15yJhSMbEEGoasD36pPZIUG4RULQSytm3tvSuyTlpXimDBphYc46R0isaSCZs1TOzp1Jfwj5tIJmHBLBUo6AfbR1uslqkjEpK0p3oQO8ZRqLY3l6dIpa5aUSScIdz8Jc8CYMunpPZxITLmrIUzEAe4j5Mu3TMip/CJJvKYPm8hDJ2Pqv8bYCXFoUM99Yvsl52NBSRalHCX7Tl6NHyZF5rPzeQiJvJf5oQbH16+OlNnVLUmWsKUaAZesKrqvMDFjmBBcdokaPSmf7x82N4zNx4RyLcrh4QBsfWv8TQxAtEt8JYlRoSXAZtBrBl33pKTixTkVLjtcAHrxePkVnnzZhZKSr9KSfSPZqzkXBFGND4QBsfU7+tCJxQULCsLuxfNoQIlgzFDh7wluO2CWhTnM7bRdKvQAqUXrk20axlSM5cscdUhDBVXKdtCY5VhB1zr7wpXegU6sJISH0pVvePU34GyV5Q1MKQaZf4pGwgaXZD1jaH2EDIvMYypjlF6b6AAUyvKDdCpF2BhO8PP9okRhYjeA/8TS/wk9YwAppB0pYUAojNzXmAPSBytUGvNjFUtBQCTU5xFNjSoVUQxOXJMDWicUk8zTviCprJFWqfRMZylRtsrLrSpyGIpuQIsWtAIdaNPmTCdNjlAHsh2o+TtRzoDFCrIp+1gQNggE+J+scK+PFdkqKHSrfKasxD8DqMoHN6IHzpPJz7RGTYpZFSSfCnIRJdlCRRII+94l4odj8dkZl5SzMSokkAEHsnVoMmXlZVIwgLBq/ZzfnAUuenYffdFykBnoYtOKKWNmPShwOccU5DIezCHl4SkkElBfMFP7RnlKWFEti3GVPaN4yTE0Wzg5GEqSTQVI8Yuk22dLyJJVqoPlA/+IVAIZi7UjsYJRsQSQDk5y4RZIYm/pofElBbWoiFhvcoVMOByo4mB0atYDwBKV9zPEgoYiAmpG+T50gChsnpNKftJUnziVuvSzzZSkBZcilDnGZnAtUANm2sSu2ViJH23MwCotVIZBz4vpxgy6VYsRUQyEvkPCusUKSEjEHJUWAGTbmJTgEAoOf1ETQwYgTHIGlO6PbBZsctZL9lmrlBFmk4QpDOTQcHrpBFilhCJiRqw84SALuu1Ks0kKlgArJdRDmmQHBoOuq+JildWv8AESqigdAczCOz3l1TpUkLQc0nfcQQrpAlKSmRLCCrM5mLGKJ9l/EWA2FJLEnR49vO7jJKQog4khQatDFQUHrXetYIts3EkEuQEsly7AHKkHYF8lACN9ootYYKH94ClzFFkgtEp7g/E4PF4YiVmsalgkA4RmaUiCbO6gh2cgeJZ4JklgoAmoy0MVFJzq8HNjZrp17fwwEqQnDhzJZ1Hfvga87ULUkkpCVpAZQ1BLEc3gaXeMmakdcCFs2IatFM61ILIlgs4JJzLacoBWW2KxrwUBL8sovTY1/Mg93OGl3TAUdgMBSgasTtCyA5eMXnp0J0LUXeohSfhoSA+ZcUPACPP8MUx8q/tBci2FVDBJJheaX0JOxWm7lPUFuBHLaL5lhBDAKHfSndxgxE46iIon6fecR55fQWUSLC2Fw5SxFdc9oOSpgAAABlnFRSo1iqY4Zy0V5mU4tB6p2ZOHwMV9WFAVAGkUBD5F3itQVC8kmVTqyU2VR8mzo7iKES1p+Els2o1P5S8GTEqT2VDCrj83fHFdHZyM9IuyqB5dvD9tLcUcd0n2g2yzcVELSonQnCvwOfcTAKkJNW5vFM6QD8PeC5L70/tCaTBMbrnsagpIzBDeRiZtyTQAFw9KAD6wkTeM6X2ScaciFhwa1ZT8olLtcont4pSsw4xI7lCobviJYkylIbzZoLADmdBzga03ehVSl31T+0eJQsBwrEmjqQQoftE02sDZxQOfVs4jSS/Eb5FU64jmkvwV9dIU2u6VpzSpJ3SxHlGvXPWQWYttFCLVQvzGf0hwlNexOKMVMs6hkXb7yiP8QR8SQCWD1BHHnxjZWqzSpxDlIP8rOO/MQvXdDk9WtxsoHyNI3jNdkOBnJU0sQRHlkRiJZstwKd8MLXdik0VKUOKQfOF5sqWorxi1JMWrCuuGEZlqUqBFZWVTAo1BNfSB/4ZaRQ04RGZOUwen7QEjgzcCis/mo2zNrFVmWVCdTJj5wFKtysQOIsPfNovs1vSFL1CwxqS3jCQxfaVF66xGUDnBNslg1DqHDSIJlFIxMW2esWAJBUpTyyngT5xUVZPi8I9mzgS7MDpABXJNRHTCNI9ks4ziIA3MMC6XViMxQjhuIilWkRRhp2j4RbLtNc3PFIMAFdTDC7XJTzjyVZpk12l8yKAczlE7AliBsecK0SzR3AlWFRY4Sc9+W8MZKCpwajjEbnnvJS7hqB6UBhgiaBHnTlUmVGIuVYQC4GUTILQaucl2IrEFJzaF5H2aJ0LpskkgjLWK1WNQUC9MuMMymJSU9lzFLIhOMW7B5jJFTVogmYhQY5v5QSbPiIO0eqkAZisPaPRVWB/C1OUWqn8Hi4gmPQiDZD2oAl2gpGCYMSRpUKR+lRic2S6caClaNakEfqGeXdHFCVkhiC7V0J5ZaQuTPXLOKWQFCgUDQn0jcTQwlpILFIYih4GutdI8nTEpzUU89PA1gqy2iXaHCiJU090tZ2/lJ3HlFU3rZZCFJLgbDzLeYhiRGVaVszhSWy589fSB0Xb1gJGFNSCl0kADVvo0ESpyVBintA6nF5Cmm0cEEFkqILkqZsweH28OwYunWGdZ+2MSW+dDsOY09IjLvZ6zZSZm65dFd7UPhDVV4TG7SyoZMo+8DTLImZ2kvi4MPpDtAe2adLXSXNGL8q+wfOn949E9aKTElJctRn5Nvn3QBbbnmAkqQ4GRdIURuA9e6KLLbJsnsoWpvyTA47waRLQWx2pckk4kpLNlQvxIiabLLNcag3Mj0BMLUXxJNJsoyj+aWHB5p07oYJs/WpJlLExO6M+9OYPdCcRqReZBNHS5zzBbkYFVYJSqLQKd/oaRWu3YVKZiRRiWPfxgldqUpsYbY1iaaK9i6ZccpThKsBGbF/I0HdAU64Vg/GFDRwwPmY01mCT8S3GowsQf1ZkRcpBAJwIOlQoNXMO7QtmPRMwky7Vg/9JRByKQSDyb6QDMu9vzJ/UP7R9ETemGhJDZhRPkMmgoXkhaSAyq1YA0bgWaL8tdE6Hy4SFJyP3vWOM+YE1Qr9TH+0byfdUheXZA418Ir/AMvSg5RNKToXo+2lYpZkLxs+fi2r/MPAR7/Hq4eEa+23SsviQiY2pAJ8UsqFFouuU4dK0fpX7LDxSyITg0J/49X5U+EEWO3S3/FQW0KGBHcRWLV3Og/DNI2ExBH/ALJceUVpuKaqiTLVyWPQsY0uLIaLrVPs+AmWTieiVJAprUQALX/KnuFYIX0dtIzRq3xJD8qxNHRu0GpRT9SPrCtLsNR3ZLto6lqDh2Tq+8NLFIQn4Q25174QybHaZYYdYABsCG7jFkm9pgDHCr9QwnxDRzZItvhi1ZpZgJygdWLX+0Kxff5pah+lX1gmz3vJPxKWn9SXHlGDxSHTLkzSVPXKDJS274Fl2iWrKbLI/Ux8C0FJkE1SCRuCCPKJcGTyi0zc+MQ6+jaRBY0NIqTIJ1baM6HsMJE2gia5+kCy5RGsCzbSASPunGCh70MTP0pFiFwulqJD7RxtPKHQvIDpCUkFWLCoFhRvL5sqtqYvXbJRdLBOEVBS5A07WvHXnHR0d1GtgFsWElgxA1qfoYb2K1JWBZ7S5yCFhypOoSSKlMdHQN1ygBJ9mVJWULP6cOgI0/eJ3fZiS7kkvqzJrzHlHR0XJciJJAUSdMTb4eGj84rNnOQckvtoRm5+3jo6EM6UpUqtcJD5vXcVDco9l9TOQcKCQAS5ah3GR8Y6OhksVzLCFA9SsEJFQoFjyfWAFyzLKVAlCiMQKT9OUex0NkjCX0iW2G0pE5O/wzOYUPeG9jlJngrs6nYOULcKAGbqri8RHR0FWVEFxkLDKZYzFTn5DuiwXgZahjq4JYGlPveOjohpF7Msk2zrFMcROxIw+AEe45RLYElSSwzAf9uMdHRm0NOy+VaEGqHcVroYvnTSGDk4q1zJ1GVOcex0Joqy+02oAEoSBhDHUvrUMfURUAJiUuBvkCX70x7HQJDsDmXRJJBwsDsWc8cMAWzo9ixFDDDorI94LiOjo0QmkKJ8qZJpiKf0qceBiKbxmU7QU27g+Ijo6LaM+wqVfeEMpDfpZXrWDJdtRNZsKgMwtGZ++6PI6IaGQtd3SmSTLCAotRRBL60fwLQPOuuUxKZhGEVcOPrHsdDEDTrjmYUq7CgpiM9YDtlhXKbGkofIhQPoY6OjRITLZN5z0jsz10ycuPODpPSOen4kylvm6WJ7xHR0Q4oQRK6VJZlySC9ChVOTEPFot9jml8UxJOhDgV0bvjyOiXCKG0htJsnWpV1PaSCK5ZcwPSM3aAoLUlmINax0dGbgrMZI/9k=');
    background-size: cover;
    width: 400px;
    margin: 40px;
}

.colorbg
{
    background-color: rgba(10, 50, 20, 0.5);
    padding: 100px 50px;
    transition: 1s;
}

.colorbg:hover
{
    background-color: rgba(10, 50, 20, 0);
}

.studs li:first-child
{
    color: red;
}

.studs li:last-child
{
    color: red;
}

.studs li:nth-child(even)
{
    text-decoration: underline;
}

.studs li:nth-child(3n)
{
    font-weight: bold;
}

.studs li:nth-child(3n+2)
{
    font-style: italic;
}

asdf :first-of-type
{
    color: blue;
} */

/* .div
{
    height: 150px;
    margin: 20px;
}

.div1
{
    background-color: darkcyan;
}

.div2
{
    background-color: darkred;
    position: absolute;
    top: 50px;
    right: 1050px;
    width: 500px;
}

.div3
{
    background-color: darkorchid;
}

.top
{
    display: inline-block;
    padding: 20px;
    background-color: darkblue;
    text-transform: uppercase;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
*/
.modalbg
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: block; /*none*/
}
/*
.modal
{
    width: 400px;
    padding: 50px;
    background-color: white;
    box-sizing: border-box;
    margin: 200px auto;
    position: relative;
}

.close
{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.content
{
    height: 300px;
    overflow: auto;
}

.content h4
{
    margin: 0;
    padding: 20px 0;
    background-color: white;
    position: sticky;
    top: 0;
}

.menu, .submenu, .submenu2
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu > li
{
    float: left;
}

.menu::after
{
    content: '';
    display: block;
    clear: both;
}

.menu a
{
    display: block;
    padding: 10px 15px;
    border: 1px solid gray;
    width: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover
{
    background-color: gray;
    color: white;
}

.submenu, .submenu2
{
    display: none;
}

.submenu li
{
    position: relative;
}

.menu li:hover > ul
{
    display: block;
}

.submenu2
{
    position: absolute;
    top: 0;
    left: 100%;
} */

input[type="text"], input[type="email"]
{
    border-color: red;
    outline: 0;
}