body {
  margin: 0;
}
.wrap {
  margin: 10% 32%;
}
.wrap img {
  position: relative;
}
.wrap .three {
  z-index: 1;
  transform: rotate(-12deg);
  left: 25%;
}
.wrap .seven {
  z-index: 2;
  transform: rotate(4deg);
}
.wrap .ace {
  z-index: 3;
  transform: rotate(21deg);
  right: 26%;
}
