body
{
    margin: 0;
}

//1

@BGColor: #fbf2e9;
@aCol: #7a489f;
@aColHover: #919edb;

.ListBg
{
    width: 200px;
    background-color: @BGColor;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;

    ul
    {
        font-size: 8px;
        display: initial;
        list-style: circle;
        list-style-position: inside;

        a
        {
            color: @aCol;
        }

        a:hover
        {
            color: @aColHover;
            cursor: default;
        }
    }
}

//-------------------------------

//2

.TreeBg
{
    width: 500px;
    background-color: @BGColor;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;

    ul
    {
        font-size: 24px;
        list-style-position: inside;
        box-sizing: border-box;
    }

    li
    {
        box-sizing: border-box;
    }

    li:hover
    {
        cursor: default;
    }
}

//-------------------------------

//3

.booksContainer
{
    width: 955px;
    background-color: @BGColor;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;

    .sevenBooks
    {
        list-style: decimal;

        span
        {
            cursor: default;
        }
    }
}

//-------------------------------

//4

.editBox
{
    width: 440px;
    background-color: @BGColor;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;

    span
    {
        display: block;
    }

    textarea
    {
        width: 100%;
    }
}

//-------------------------------

//5

@borderCol: #8a8a8a;

.tableBg
{
    width: 470px;
    background-color: @BGColor;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    cursor: default;

    table
    {
        width: 100%;
        border: 1px solid @borderCol;
        border-collapse: collapse;
        
        .tableHeader
        {
            th
            {
                font-weight: bold;
                cursor: pointer;
            }
        }

        tr
        {
            border: 1px solid @borderCol;
        }
        
        th
        {
            border: 1px solid @borderCol;
            margin: 0;
            text-align: start;
            font-weight: normal;
            padding: 10px 20px;
        }
    }
}

//-------------------------------

//6

.textBg
{
    width: 470px;
    background-color: @BGColor;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;

    .textContainer
    {
        border: 1px solid gray;
        padding: 5px;
    }
    
    .triangle-corner
    {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-bottom: 20px solid #555;
        margin-left: auto;
    }
}