body {
  margin: 0;
}
.ListBg {
  width: 200px;
  background-color: #fbf2e9;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}
.ListBg ul {
  font-size: 8px;
  display: initial;
  list-style: circle;
  list-style-position: inside;
}
.ListBg ul a {
  color: #7a489f;
}
.ListBg ul a:hover {
  color: #919edb;
  cursor: default;
}
.TreeBg {
  width: 500px;
  background-color: #fbf2e9;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.TreeBg ul {
  font-size: 24px;
  list-style-position: inside;
  box-sizing: border-box;
}
.TreeBg li {
  box-sizing: border-box;
}
.TreeBg li:hover {
  cursor: default;
}
.booksContainer {
  width: 955px;
  background-color: #fbf2e9;
  margin: 10px auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.booksContainer .sevenBooks {
  list-style: decimal;
}
.booksContainer .sevenBooks span {
  cursor: default;
}
.editBox {
  width: 440px;
  background-color: #fbf2e9;
  margin: 10px auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.editBox span {
  display: block;
}
.editBox textarea {
  width: 100%;
}
.tableBg {
  width: 470px;
  background-color: #fbf2e9;
  margin: 10px auto;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 18px;
  cursor: default;
}
.tableBg table {
  width: 100%;
  border: 1px solid #8a8a8a;
  border-collapse: collapse;
}
.tableBg table .tableHeader th {
  font-weight: bold;
  cursor: pointer;
}
.tableBg table tr {
  border: 1px solid #8a8a8a;
}
.tableBg table th {
  border: 1px solid #8a8a8a;
  margin: 0;
  text-align: start;
  font-weight: normal;
  padding: 10px 20px;
}
.textBg {
  width: 470px;
  background-color: #fbf2e9;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 18px;
}
.textBg .textContainer {
  border: 1px solid gray;
  padding: 5px;
  height: 100%;
  position: relative;
}
.textBg .triangle-corner {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #555;
  position: absolute;
  bottom: 0;
  right: 0;
}
