body
{
    margin: 0;
}

//1

@BGColor: #fbf2e9;
@aCol: #7a489f;
@aColHover: #919edb;

.ListBg
{
    width: 200px;
    background-color: @BGColor;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;

    ul
    {
        font-size: 8px;
        display: initial;
        list-style: circle;
        list-style-position: inside;

        a
        {
            color: @aCol;
        }

        a:hover
        {
            color: @aColHover;
            cursor: default;
        }
    }
}

//-------------------------------

//2

.TreeBg
{
    width: 500px;
    background-color: @BGColor;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;

    ul
    {
        font-size: 24px;
        list-style-position: inside;
        box-sizing: border-box;
    }

    li
    {
        box-sizing: border-box;
    }

    li:hover
    {
        cursor: default;
    }
}

//-------------------------------

//3

.booksContainer
{
    width: 955px;
    background-color: @BGColor;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;

    .sevenBooks
    {
        list-style: decimal;

        span
        {
            cursor: default;
        }
    }
}

//-------------------------------

//4

