@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('fonts/ProximaNova-Regular.eot'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Proxima Nova Rg';
}
.wrap {
  display: grid;
  grid-template-rows: 70px auto;
  min-height: 100vh;
  background-color: #eff2f5;
}
.header {
  background: #24344e;
}
.main {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
}
.block {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 80px auto 50px;
}
.block .bHeader {
  margin: 0;
  padding: 30px;
  font-size: 22px;
  text-transform: uppercase;
}
.block .bContent {
  padding: 10px 30px;
}
.block .bFooter {
  background-color: #db9897;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 30px;
  text-align: right;
}
.block .bFooter a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.prizes {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}
.prizes .bContent {
  overflow: auto;
}
.raiting {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
}
.prize {
  display: grid;
  grid-template-columns: auto 20px;
  grid-template-rows: 2fr 3fr;
  margin-bottom: 10px;
}
.prize time {
  font-size: 12px;
}
.prize p {
  margin: 0;
  font-weight: bold;
}
.prize span {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  font-size: 24px;
}
@media (max-width: 700px) and (min-width: 400px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    max-height: none;
  }
  .raiting {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .prizes {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }
}
