body
{
    margin: 0;
    font-family: "Lucida Grande", Menlo, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.wrap
{
    display: grid;
    grid-template-rows: auto 1fr;

    header
    {
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 700px 1fr;
        grid-template-rows: 50px 25px;
        
        .logoSearch
        {
            grid-row: 1;
            grid-column: 2;
            padding: 10px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            img
            {
                grid-column: 1;
                width: 250px;
                height: 36px;
                margin: auto auto;
            }
            
            .searchCl
            {
                grid-column: 2;
                background: #edeceb;
                border-radius: 3px;
                border: 1px solid #999;
                margin: 0 50px;
                display: grid;
                grid-template-columns: auto auto;
                height: 30px;
                
                input
                {
                    grid-column: 1;
                    box-sizing: border-box;
                    border: 0;
                    background-color: transparent;
                    padding-left: 15px;
                    font-size: 16px;
                    width: 345px;
                }
                
                input:focus
                {
                    outline: none;
                }
                
                img
                {
                    grid-column: 2;
                    cursor: pointer;
                    width: 50px;
                    height: 30px;
                    box-sizing: border-box;
                    margin: auto 0;
                    position: relative;
                }
            }
        }
        
        .nowFor5DaysCl
        {
            grid-column: 1 / span 3;
            grid-row: 2;
            background-color: #3b4148;
            display: grid;
            grid-template-columns: 1fr 700px 1fr;
            
            .daysContent
            {
                grid-column: 2;
                display: flex;
                
                span
                {
                    color: #fff;
                    padding: 0 35px;
                    vertical-align: middle;
                    border-right: 0.5px solid #4f545b;
                    border-left: 0.5px solid #4f545b;
                    cursor: pointer;
                    margin: auto 0;
                }
                
                span:hover
                {
                    background-color: #525a64;
                }
            }
        }
    }
    
    .weatherInfoContent
    {
        grid-row: 2;
        background-color: #d6d3d2;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 700px 1fr;

        .nowWeatherCl
        {
            grid-column: 2;
            margin-top: 20px;

            .currentWeatherCl
            {
                display: grid;
                grid-template-rows: 270px auto;
                background-color: #fff;

                .mainContentCl
                {
                    grid-row: 1;
                    grid-column: 1 / span 2;
                    display: grid;
                    padding: 10px;

                    .leftSide
                    {
                        display: flex;
                        flex-direction: column;
                        grid-column: 1;


                        img
                        {
                            width: 120px;
                            margin-top: 10px;
                        }

                        .degreeCl
                        {
                            font-size: 45px;

                            .celciusCl
                            {
                                color: #999;
                                font-size: 21px;
                            }
                        }

                        .realFeelCl
                        {
                            color: #999;
                            font-size: 12px;
                        }

                        .weatherState
                        {
                            font-size: 20px;
                            margin-top: 15px;
                            padding-bottom: 15px;
                            color: #1f384d;
                            font-weight: 550;
                        }
                    }

                    .rightSide
                    {
                        grid-column: 2;
                        display: grid;
                        grid-template-columns: auto 1fr 1fr;
                        margin-top: 90px; 
                        margin-left: 180px;

                        .verticalLine
                        {
                            border-left: 1px solid rgba(153, 153, 153, 0.5);
                            height: 150px;
                            grid-column: 1;
                        }

                        .sunsetSunriseCl
                        {
                            grid-column: 2;
                            margin-left: 20px;
                            margin-top: 10px;
        
                            .captionCl
                            {
                                color: #999;
                            }

                            .valueCl
                            {
                                color: #1f384d;
                            }

                            .sunriseTop
                            {
                                top: 10px;
                            }
                        }

                        img
                        {
                            grid-column: 3;
                            width: 70px;
                            margin-left: 70px;
                            margin-top: 20px;
                        }
                    }
                }

                .seeHourlyCl
                {
                    grid-row: 2;
                    grid-column: 1 / span 2;
                    background: #f7f6f5;
                    box-shadow: inset 0 7px 9px -11px;
                    width: 100%;
                    height: 50px;
                    position: relative;
                    cursor: pointer;

                    .seeHourCl
                    {
                        color: #f05514;
                        padding: 13px 25px 13px 15px;
                        font-size: 100%;
                        vertical-align: baseline;
                    }

                    .arrow
                    {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin-right: 10px;
                        width: 25px;
                        background: url(https://vortex.accuweather.com/adc2010/images/slate/arrow-right-solid-orange.svg) no-repeat;
                        background-size: 25px auto;
                        background-position: center 50%;
                    }
                }
            }
            
            
            .nearbyPlacesCl
            {
                grid-row: 2;
                background-color: #fff;
                margin-top: 20px;
                
                h3
                {
                    padding: 15px;
                    color: #1f384d;
                    font-weight: 700;
                    font-size: 22px;
                    margin: 0;
                }
                
                .nearbyWeatherCl
                {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    
                    .cityCl
                    {
                        background-color: #f7f6f5;
                        border: 1px solid rgba(153, 153, 153, 0.5);
                        padding: 10px 0;
                        
                        .cityNameCl
                        {
                            width: 60%;
                            padding-left: 15px;
                        }
                        
                        .degreeImgCl
                        {
                            width: 25px;
                            position: relative;
                            top: 6px;
                            margin-left: 135px;
                        }
                        
                        .degreeCl
                        {
                            margin-left: 15px;
                            color: #1f384d;
                        }
                    }
                }
            }
        }
    }
    
    .errorPageCl
    {
        grid-column: 2;
        margin-top: 20px;
        background-color: #fff;
        height: 220px;
        padding: 10px;
        
        label
        {
            display: block;
            color: #1f384d;
            font-weight: 700;
            font-size: 22px;
            margin-top: 10px;
        }
    }
    
    .for5DaysPageCl
    {
        grid-column: 2;
        margin-top: 20px;
        display: grid;
        grid-template-rows: 260px 1fr;
        
        .for5DaysCl
        {
            grid-row: 1;
            display: grid;
            grid-template-columns: 1fr repeat(4, 1fr);
            
            .todayCl // 
            {
                background-color: #fff;
                grid-column: 1;
                display: flex;
                flex-direction: column;
                padding: 10px 10px 50px 10px;
                border-bottom: 4px solid #f05514;
                border-left: 1px solid #c8c8c8;
            }
            
            .FirstWeathCl
            {
                background-color: #f7f6f2;
                grid-column: 2;
                border-bottom: 0;
            }

            .SecondWeathCl
            {
                background-color: #f7f6f2;
                grid-column: 3;
                border-bottom: 0;
            }

            .ThirdWeathCl
            {
                background-color: #f7f6f2;
                grid-column: 4;
                border-bottom: 0;
            }

            .FourthWeathCl
            {
                background-color: #f7f6f2;
                grid-column: 5;
                border-bottom: 0;
            }
                
            //------------------------------------

            .MoreCl
            {
                color: #f05514;
                position: absolute;
                top: 32%;
            }

            .degreeTodayShowCusomCl
            {
                display: grid;
                grid-template-columns: 0.5fr 1fr;
                grid-template-rows: 1fr 1fr;

                .degreeValCl
                {
                    grid-column: 1;
                    grid-row: 1 / span 2;
                    font-size: 40px;
                }
                
                .degreeCl
                {
                    grid-column: 2;
                    grid-row: 1;
                    font-size: 15px;
                    color: #999;
                }
            }

            .imgCustom
            {
                width: 60px;
            }

            .weatherDescCl
            {
                font-size: 12px;
            }

            .dayCl
            {
                color: #999;
                font-size: 12px;
                margin-bottom: 10px; 
            }
            
            img
            {
                width: 80px;
                margin-bottom: 5px; 
            }

            .degreeTodayShowCl
            {
                display: grid;
                grid-template-columns: 0.5fr 1fr;
                grid-template-rows: 1fr 1fr;

                .degreeValCl
                {
                    grid-column: 1;
                    grid-row: 1 / span 2;
                    font-size: 45px;
                }

                .degreeCl
                {
                    grid-column: 2;
                    grid-row: 1;
                    font-size: 21px;
                    font-weight: bold;
                }

                span
                {
                    grid-column: 2;
                    grid-row: 2;
                    color: #999;
                    font-size: 12px;
                }
            }
        }

        .hourlyCl
        {
            margin-top: 20px;
            grid-row: 2;
            display: grid;
            grid-template-rows: 22px 330px;

            .hourHeaderCl
            {
                grid-row: 1;
                background-color: #3a4147;

                label
                {
                    color: #fff;
                    padding: 0 15px;
                    vertical-align: middle;
                    border-right: 0.5px solid #4f545b;
                    border-left: 0.5px solid #4f545b;
                    cursor: pointer;
                    margin: auto 0;
                    border-bottom: 3px solid #f05514;
                }
            }

            .hourlyTableCl
            {
                background-color: #fff;
                margin-top: 5px;
                padding: 5px;

                table
                {
                    margin-top: 15px;
                    text-align: left;
                    font-size: 13px;
                    table-layout: fixed;
                    border-collapse: collapse;
                    width: 100%;

                    thead
                    {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font-size: 100%;
                        font: inherit;
                        vertical-align: baseline;

                        tr
                        {
                            height: 70px;
                        }

                        td
                        {
                            color: #999;

                            span
                            {
                                margin: 0 10px;
                            }

                            img
                            {
                                margin-top: 15px;
                                width: 50px;
                            }
                        }
                    }

                    tbody
                    {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font-size: 100%;
                        font: inherit;
                        vertical-align: baseline;

                        tr
                        {
                            border-bottom: 1px solid #c8c8c8;
                            width: 100%;
                            height: 43px;

                            th
                            {
                                vertical-align: middle;
                                width: 110px;
                                color: #999;
                            }

                            td
                            {
                                vertical-align: middle;
                                width: auto;
                                font-size: 13px;

                                span
                                {
                                    font-size: 12px;
                                    color: #1f384d;
                                }
                            }
                        }

                        tr:last-of-type
                        {
                            border: 0;
                        }
                    }

                }
            }
        }
    }

    .mainHeader
    {
        color: #4acee2;
        text-transform: uppercase;
        font-weight: bold;
        font-size: small;
    }
}