body {
  margin: 0;
  font-family: "Lucida Grande", Menlo, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
.wrap {
  display: grid;
  grid-template-rows: auto 1fr;
}
.wrap header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 50px 25px;
}
.wrap header .logoSearch {
  grid-row: 1;
  grid-column: 2;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrap header .logoSearch img {
  grid-column: 1;
  width: 250px;
  height: 36px;
  margin: auto auto;
}
.wrap header .logoSearch .searchCl {
  grid-column: 2;
  background: #edeceb;
  border-radius: 3px;
  border: 1px solid #999;
  margin: 0 50px;
  display: grid;
  grid-template-columns: auto auto;
  height: 30px;
}
.wrap header .logoSearch .searchCl input {
  grid-column: 1;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  padding-left: 15px;
  font-size: 16px;
  width: 345px;
}
.wrap header .logoSearch .searchCl input:focus {
  outline: none;
}
.wrap header .logoSearch .searchCl img {
  grid-column: 2;
  cursor: pointer;
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  margin: auto 0;
  position: relative;
}
.wrap header .nowFor5DaysCl {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: #3b4148;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
}
.wrap header .nowFor5DaysCl .daysContent {
  grid-column: 2;
  display: flex;
}
.wrap header .nowFor5DaysCl .daysContent span {
  color: #fff;
  padding: 0 35px;
  vertical-align: middle;
  border-right: 0.5px solid #4f545b;
  border-left: 0.5px solid #4f545b;
  cursor: pointer;
  margin: auto 0;
}
.wrap header .nowFor5DaysCl .daysContent span:hover {
  background-color: #525a64;
}
.wrap .weatherInfoContent {
  grid-row: 2;
  background-color: #d6d3d2;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
}
.wrap .weatherInfoContent .nowWeatherCl {
  grid-column: 2;
  margin-top: 20px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl {
  display: grid;
  grid-template-rows: 270px auto;
  background-color: #fff;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl {
  grid-row: 1;
  grid-column: 1 / span 2;
  display: grid;
  padding: 10px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .leftSide {
  display: flex;
  flex-direction: column;
  grid-column: 1;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .leftSide img {
  width: 120px;
  margin-top: 10px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .leftSide .degreeCl {
  font-size: 45px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .leftSide .degreeCl .celciusCl {
  color: #999;
  font-size: 21px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .leftSide .realFeelCl {
  color: #999;
  font-size: 12px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .leftSide .weatherState {
  font-size: 20px;
  margin-top: 15px;
  padding-bottom: 15px;
  color: #1f384d;
  font-weight: 550;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide {
  grid-column: 2;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  margin-top: 90px;
  margin-left: 180px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide .verticalLine {
  border-left: 1px solid rgba(153, 153, 153, 0.5);
  height: 150px;
  grid-column: 1;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide .sunsetSunriseCl {
  grid-column: 2;
  margin-left: 20px;
  margin-top: 10px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide .sunsetSunriseCl .captionCl {
  color: #999;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide .sunsetSunriseCl .valueCl {
  color: #1f384d;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide .sunsetSunriseCl .sunriseTop {
  top: 10px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .mainContentCl .rightSide img {
  grid-column: 3;
  width: 70px;
  margin-left: 70px;
  margin-top: 20px;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .seeHourlyCl {
  grid-row: 2;
  grid-column: 1 / span 2;
  background: #f7f6f5;
  box-shadow: inset 0 7px 9px -11px;
  width: 100%;
  height: 50px;
  position: relative;
  cursor: pointer;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .seeHourlyCl .seeHourCl {
  color: #f05514;
  padding: 15px 25px 13px 15px;
  font-size: 100%;
  vertical-align: baseline;
}
.wrap .weatherInfoContent .nowWeatherCl .currentWeatherCl .seeHourlyCl .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  width: 25px;
  background: url(https://vortex.accuweather.com/adc2010/images/slate/arrow-right-solid-orange.svg) no-repeat;
  background-size: 25px auto;
  background-position: center 50%;
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl {
  grid-row: 2;
  background-color: #fff;
  margin-top: 20px;
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl h3 {
  padding: 15px;
  color: #1f384d;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl .nearbyWeatherCl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl .nearbyWeatherCl .cityCl {
  background-color: #f7f6f5;
  border: 1px solid rgba(153, 153, 153, 0.5);
  padding: 10px 0;
  display: grid;
  grid-template-columns: 270px 30px 30px;
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl .nearbyWeatherCl .cityCl .cityNameCl {
  grid-column: 1;
  padding-left: 15px;
  margin: 0;
  position: relative;
  top: 6px;
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl .nearbyWeatherCl .cityCl .degreeImgCl {
  grid-column: 2;
  width: 25px;
  position: relative;
  top: 6px;
  margin: 0;
}
.wrap .weatherInfoContent .nowWeatherCl .nearbyPlacesCl .nearbyWeatherCl .cityCl .degreeCl {
  grid-column: 3;
  position: relative;
  top: 6px;
  color: #1f384d;
  margin: 0;
}
.wrap .errorPageCl {
  grid-column: 2;
  margin-top: 20px;
  background-color: #fff;
  height: 220px;
  padding: 10px;
}
.wrap .errorPageCl label {
  display: block;
  color: #1f384d;
  font-weight: 700;
  font-size: 22px;
  margin-top: 10px;
}
.wrap .for5DaysPageCl {
  grid-column: 2;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 260px 200px;
}
.wrap .for5DaysPageCl .for5DaysCl {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
}
.wrap .for5DaysPageCl .for5DaysCl .todayCl {
  background-color: #fff;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
  border-bottom: 4px solid #f05514;
  border-left: 1px solid #c8c8c8;
  cursor: pointer;
}
.wrap .for5DaysPageCl .for5DaysCl .FirstWeathCl {
  background-color: #f7f6f2;
  grid-column: 2;
  border-bottom: 0;
}
.wrap .for5DaysPageCl .for5DaysCl .SecondWeathCl {
  background-color: #f7f6f2;
  grid-column: 3;
  border-bottom: 0;
}
.wrap .for5DaysPageCl .for5DaysCl .ThirdWeathCl {
  background-color: #f7f6f2;
  grid-column: 4;
  border-bottom: 0;
}
.wrap .for5DaysPageCl .for5DaysCl .FourthWeathCl {
  background-color: #f7f6f2;
  grid-column: 5;
  border-bottom: 0;
}
.wrap .for5DaysPageCl .for5DaysCl .MoreCl {
  color: #f05514;
  cursor: pointer;
  position: absolute;
  top: 330px;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCusomCl {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCusomCl .degreeValCl {
  grid-column: 1;
  grid-row: 1 / span 2;
  font-size: 40px;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCusomCl .degreeCl {
  grid-column: 2;
  grid-row: 1;
  font-size: 15px;
  color: #999;
}
.wrap .for5DaysPageCl .for5DaysCl .imgCustom {
  width: 60px;
}
.wrap .for5DaysPageCl .for5DaysCl .weatherDescCl {
  font-size: 12px;
}
.wrap .for5DaysPageCl .for5DaysCl .dayCl {
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
}
.wrap .for5DaysPageCl .for5DaysCl img {
  width: 80px;
  margin-bottom: 5px;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCl {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCl .degreeValCl {
  grid-column: 1;
  grid-row: 1 / span 2;
  font-size: 45px;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCl .degreeCl {
  grid-column: 2;
  grid-row: 1;
  font-size: 21px;
  font-weight: bold;
}
.wrap .for5DaysPageCl .for5DaysCl .degreeTodayShowCl span {
  grid-column: 2;
  grid-row: 2;
  color: #999;
  font-size: 12px;
}
.wrap .for5DaysPageCl .hourlyCl {
  margin-top: 20px;
  grid-row: 2;
  display: grid;
  grid-template-rows: 22px 295px;
}
.wrap .for5DaysPageCl .hourlyCl .hourHeaderCl {
  grid-row: 1;
  background-color: #3a4147;
}
.wrap .for5DaysPageCl .hourlyCl .hourHeaderCl label {
  color: #fff;
  padding: 0 15px;
  vertical-align: middle;
  border-right: 0.5px solid #4f545b;
  border-left: 0.5px solid #4f545b;
  cursor: pointer;
  margin: auto 0;
  border-bottom: 3px solid #f05514;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl {
  background-color: #fff;
  margin-top: 5px;
  padding: 5px;
  height: 280px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table {
  margin-top: 15px;
  text-align: left;
  font-size: 13px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table thead {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table thead tr {
  height: 70px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table thead td {
  color: #999;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table thead td span {
  margin: 0 10px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table thead td img {
  margin-top: 15px;
  width: 50px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table tbody {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table tbody tr {
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  height: 43px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table tbody tr th {
  vertical-align: middle;
  width: 110px;
  color: #999;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table tbody tr td {
  vertical-align: middle;
  width: auto;
  font-size: 13px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table tbody tr td span {
  font-size: 12px;
  color: #1f384d;
  margin-left: 8px;
}
.wrap .for5DaysPageCl .hourlyCl .hourlyTableCl table tbody tr:last-of-type {
  border: 0;
}
.wrap .mainHeader {
  color: #4acee2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}
