h1 
{
    background: bisque; 
    color: blue;
}    

.header3
{
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: normal; /*bold bolder normal 100-900*/
    font-style: italic; /*normal*/
    text-decoration: underline; /*overline line-through none*/
    text-align: center; /*left right justify*/
}

.div1
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlA31W25U48VZevnp_scg61PVUzCJeuzfu6HwM6k-TcbmdwkGAjA); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center; 
    height: 100px;
    width: 150px;
    display: inline-block;
    text-align: center;
    border: 1px dashed gray;
    color: yellow;
}

#id1
{
    text-align: right;
}

.pic1
{
    width: 100px;
}

