.wrap {
  background-color: #795548;
  margin: 5px auto;
  width: 45%;
}
.wrap .content {
  padding: 15px 46px;
}
.wrap .head .title {
  position: relative;
  text-align: center;
  background: #795548;
  padding: 10px;
}
.wrap .head .title span {
  display: inline-block;
  position: relative;
  z-index: 100;
  background-color: #795548;
  padding: 0 20px;
  color: #d8c03f;
  font-size: 20px;
}
.wrap .head .line {
  height: 2px;
  background-color: #d8c03f;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(49%);
  z-index: 10;
}
.wrap p {
  color: white;
  text-align: start;
}
