body {
  margin: 0;
}
.wrap {
  margin: 20px auto;
  width: 100vh;
}
.wrap .desPic {
  z-index: 1;
  position: absolute;
}
.wrap .expPic {
  z-index: 2;
  position: relative;
  right: 0;
  width: 3%;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  left: 44%;
  top: 302px;
}
