@backGroundCol: #f0f2f5;
@fontCol: #999999;
@headerCol: #1e1e1e;
@headerFontCol: #ffffff;
@leftPaddleBackgroundCol: #3C3C3C;
@listACol: #d9d9d9;
@borderCol: #484848;

body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: @fontCol;
    background-color: @backGroundCol;
    height: 100%;
}

.wrap
{
    display: grid;
    grid-template-rows: 50px auto;
    min-height: 100vh;
}

.header
{
    border: 0;
    background: @headerCol;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;

    .kadminStyle
    {
        text-decoration: none;
        color: @headerFontCol;
        font-size: 30px;
    }
}

.main
{
    display: grid;
    grid-template-columns: 250px auto;
    max-height: ~'calc(100vh - 50px)';

    .leftPaddle
    {
        display: grid;
        grid-template-rows: 2fr 1fr;
        background-color: @leftPaddleBackgroundCol;

        ul
        {
            padding: 0;
            margin: 0;
        }

        li
        {
            list-style: none;
            border-bottom: 1px solid @borderCol;

            a
            {
                text-decoration: none;
                color: @listACol;
                padding: 15px 30px;
                display: block;
            }
        }
    }
}
