@backGroundCol: #f0f2f5;
@fontCol: #999999;
@headerCol: #1e1e1e;
@whiteCol: #ffffff;
@leftPaddleBackgroundCol: #3C3C3C;
@listACol: #d9d9d9;
@borderCol: #484848;
@liHoverCol: #303030;
@ExtrasBCol: #3e77ab;
@buttonBCol: #488c6c;
@trCol: #f9f9f9;

body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: @fontCol;
    background-color: @backGroundCol;
    height: 100%;
}

.wrap
{
    display: grid;
    grid-template-rows: 50px auto;
    min-height: 100vh;
}

.header
{
    border: 0;
    background: @headerCol;
    display: flex;
    align-items: center;
    padding: 0 70px;

    .kadminStyle
    {
        text-decoration: none;
        color: @whiteCol;
        font-size: 30px;
    }
}

.main
{
    display: grid;
    grid-template-columns: 250px auto;
    max-height: ~'calc(100vh - 50px)';

    .leftPaddle
    {
        display: grid;
        background-color: @leftPaddleBackgroundCol;

        ul
        {
            padding: 0;
            margin: 0;
        }

        li
        {
            list-style: none;
            border-bottom: 1px solid @borderCol;

            a
            {
                text-decoration: none;
                color: @listACol;
                padding: 15px 30px;
                display: block;
            }
        }

        li:hover
        {
            background-color: @liHoverCol;
            transition-duration: 0.5s;
        }

        .ExtrassLiStyle
        {
            background-color: @ExtrasBCol;
        }
    }

    .mainContent
    {
        display: grid;

        .content
        {
            padding: 20px 20px 70px 20px;
            
            h2
            {
                font-weight: 300;
                font-size: 30px;
            }

            .profileEdit
            {
                display: grid;
                grid-template-columns: 275px auto;
                align-items: start;
                
                .profileDate
                {
                    display: grid;

                    .imgBut
                    {
                        display: grid;
                        grid-template-rows: 1fr auto;
                        
                        img
                        {
                            width: 280px;
                        }
                        
                        a
                        {
                            text-decoration: none;
                            color: @whiteCol;
                            background-color: @buttonBCol;
                            display: inline-block;
                            padding: 6px 12px;
                            text-align: center;
                            margin-top: 15px;
                        }
                    }

                    table
                    {
                        margin-bottom: 20px;
    
                        tr
                        {
                            box-sizing: border-box;
                        }
    
                        tr:nth-child(odd)>td
                        {
                            background-color: @trCol;
                        }

                        td
                        {
                            border-top: 1px solid #efefef;
                            padding: 8px;
                            line-height: 1.42857143;
                            vertical-align: top;
                        }
                    }
                }

                .rightSide
                {
                    background-color: @whiteCol;
                    margin: 0 40px;
                    padding: 5px 10px;

                    h3
                    {
                        font-weight: 300;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}