body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #999999;
  background-color: #f0f2f5;
  height: 100%;
}
.wrap {
  display: grid;
  grid-template-rows: 50px auto;
  min-height: 100vh;
}
.header {
  border: 0;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 0 70px;
}
.header .kadminStyle {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}
.main {
  display: grid;
  grid-template-columns: 250px auto;
  max-height: calc(100vh - 50px);
}
.main .leftPaddle {
  display: grid;
  background-color: #3C3C3C;
}
.main .leftPaddle ul {
  padding: 0;
  margin: 0;
}
.main .leftPaddle li {
  list-style: none;
  border-bottom: 1px solid #484848;
}
.main .leftPaddle li a {
  text-decoration: none;
  color: #d9d9d9;
  padding: 15px 30px;
  display: block;
}
.main .leftPaddle li:hover {
  background-color: #303030;
  transition-duration: 0.5s;
}
.main .leftPaddle .ExtrassLiStyle {
  background-color: #3e77ab;
}
.main .mainContent {
  display: grid;
}
.main .mainContent .content {
  padding: 20px 20px 70px 20px;
}
.main .mainContent .content h2 {
  font-weight: 300;
  font-size: 30px;
}
.main .mainContent .content .profileEdit {
  display: grid;
  grid-template-columns: 275px auto;
  align-items: start;
}
.main .mainContent .content .profileEdit .profileDate {
  display: grid;
}
.main .mainContent .content .profileEdit .profileDate .imgBut {
  display: grid;
  grid-template-rows: 1fr auto;
}
.main .mainContent .content .profileEdit .profileDate .imgBut img {
  width: 280px;
}
.main .mainContent .content .profileEdit .profileDate .imgBut a {
  text-decoration: none;
  color: #ffffff;
  background-color: #488c6c;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  margin-top: 15px;
}
.main .mainContent .content .profileEdit .profileDate table {
  margin-bottom: 20px;
}
.main .mainContent .content .profileEdit .profileDate table tr {
  box-sizing: border-box;
}
.main .mainContent .content .profileEdit .profileDate table tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
.main .mainContent .content .profileEdit .profileDate table td {
  border-top: 1px solid #efefef;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.main .mainContent .content .profileEdit .rightSide {
  background-color: #ffffff;
  margin: 0 40px;
  padding: 5px 10px;
}
.main .mainContent .content .profileEdit .rightSide h3 {
  font-weight: 300;
  font-size: 24px;
}
